{% schema  %}
    {
        "name":"Browse Collection",
        "class":"collection",
        "settings": [
            {
                "type": "text",
                "id":"title",
                "label": "Title",
                "default":"Browse the range"
            },
            {
                "type": "text",
                "id":"paragraph",
                "label":"content",
                "default":"elegant, timeless & Functionl products"
            },
            {
                "type":"range",
                "label":"Padding Top",
                "id":"padding_top",
                "default":1,
                "step": 0.5,
                "unit": "em",
                "min": 0,
                "max": 8


            },
            {
                "type":"range",
                "label":"Padding Bottom",
                "id":"padding_bottom",
                "default":1,
                "step": 0.5,
                "unit": "em",
                "min": 0,
                "max": 8

            }
        ],
        "blocks": [
            {
                "type": "collection",
                "name": "Collection",
                "settings": [
                    {
                        "type": "collection",
                        "id": "get_collection",
                        "label": "Select collection"
                    },
                    {
                        "type": "image_picker",
                        "id":"col_img",
                        "label": "title"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name":"Browse Collections",
                "blocks":[
                    {
                        "type":"collection"
                    },
                    {
                        "type": "collection"
                    },
                    {
                        "type": "collection"
                    }
                ]
            }
        ]
    }
  {% endschema %}

<div class="container">
  <div class="browse-collection">
      <h2>{{ section.settings.title }}</h2>
      <p>{{ section.settings.paragraph }}</p>

      <div class="collection-lists">

          {% for block in section.blocks %}
              {% assign collection = block.settings.get_collection %}
              {% assign img = block.settings.col_img %}

              <a href="{{ collection.url }}" class="pos-relative child-col-{{ forloop.index }}">

                  {% if img %}
                      {% if img.width and img.height %}
                          <img src="{{ img | image_url: width: 800 }}" alt="{{ img.alt | escape }}" class="pos-abs" width="{{ img.width }}" height="{{ img.height }}">
                      {% else %}
                          <img src="{{ img | image_url: width: 800 }}" alt="{{ img.alt | escape }}" class="pos-abs" width="800" height="800">
                      {% endif %}
                  {% else %}
                      {{ 'collection-1' | placeholder_svg_tag }}
                  {% endif %}

                  <h3>{{ collection.title }}</h3>
              </a>
          {% endfor %}

      </div>
  </div>
</div>



  <style>
    .browse-collection{
        text-align: center;
        margin: 2em 0;
        padding-top: {{section.settings.padding_top}}em;
        padding-bottom:{{section.settings.padding_bottom}}em;

    }
    .browse-collection h2{
        margin-bottom: 0;
    }
    .browse-collection p{
        margin-top: 0;
    }

    .collection-lists{
        display: grid;
        grid-template-areas: 
        'one one one two two two '
        'one one one three three three'
        ;
        gap: 1em;
        padding-top:  1em;

    }
    .collection-lists a{
        padding: 6em 1em;
        text-align: center;
        display: grid;
        align-items: center;
        position: relative;
    }
    .collection-lists a:after{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .collection-lists h3{
        color: #fff;
        z-index: 1;
        font-size: clamp(16px, 4vw, 22px);
        letter-spacing: 0.6px;

    }

    .collection-lists img{
        height: 100%;

    }
    .browse-collection a.child-col-1{
        grid-area: one;
        max-width: 600;
        width: 100%;

    }
    .browse-collection a.child-col-2{
        grid-area: two;
    }
    .browse-collection a.child-col-3{
        grid-area: three;
    }

    .collection-lists svg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.1);
        width: 100%;
        height: 100%;
    }
  </style>